@font-face {
    font-family: "zxhmmd";
    src: url("zxhmmd.eot"); /* IE9 */
    src: url("zxhmmd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("zxhmmd.woff") format("woff"), /* chrome、firefox */
    url("zxhmmd.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("zxhmmd.svg#zxhmmd") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


